<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Form general styling
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form action="submit">
      <label for="color">Choose prime color!</label>
      <input type="text" placeholder="Prime color" id="color">
      <label for="color">Choose width!</label>
      <input type="text" placeholder="Width" id="width">
    </form>
  </mat-expansion-panel>

  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Field styling
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form *ngIf="currentTarget" action="submit">
      <h1>{{currentTarget}}</h1>
      <label for="color">Choose prime color!</label>
      <input type="text" placeholder="Prime color" id="color">
      <label for="color">Choose width!</label>
      <input type="text" placeholder="Width" id="width">
    </form>

  </mat-expansion-panel>
<mat-accordion>

<div [cdkDropListData]="droppedItems" cdkDropList #listOne="cdkDropList" [cdkDropListConnectedTo]="[listTwo]" class="drop" (cdkDropListDropped)="drop($event)">
    <ng-container *ngIf="droppedItems.length">
      <li  *ngFor="let item of droppedItems" class="draggable-fields-item" cdkDrag (click)="select($event)">
        <textarea *ngIf="item.type === 'textarea'" cols="30" rows="10"></textarea>
        <button *ngIf="item.type === 'button'" mat-raised-button>{{item.text}}</button>
        <mat-checkbox  *ngIf="item.type === 'checkbox'" class="example-margin">{{item.text}}</mat-checkbox>
    
        <mat-form-field *ngIf="item.type === 'input'"  class="example-form-field" appearance="fill">
          <mat-label>{{item.placeholder}}</mat-label>
          <input matInput type="text">
        </mat-form-field>
    
        <mat-form-field *ngIf="item.type === 'select'" appearance="fill">
          <mat-label>{{item.text}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let option of item.options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>	
    </ng-container>
</div>

<div [cdkDropListData]="formItems" cdkDropList #listTwo="cdkDropList" [cdkDropListConnectedTo]="[listOne]" class="draggable-fields">
  <li  *ngFor="let item of formItems" class="draggable-fields-item border" cdkDrag>
    <label >{{item.label}}</label>
    <textarea *ngIf="item.type === 'textarea'" cols="30" rows="10"></textarea>
    <button *ngIf="item.type === 'button'" mat-raised-button>{{item.text}}</button>
    <mat-checkbox  *ngIf="item.type === 'checkbox'" class="example-margin">{{item.text}}</mat-checkbox>

    <mat-form-field *ngIf="item.type === 'input'"  class="example-form-field" appearance="fill">
      <mat-label>{{item.placeholder}}</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field *ngIf="item.type === 'select'" appearance="fill">
      <mat-label>{{item.text}}</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of item.options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </li>						
</div>
